@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Apartment Management App</h1>
    <p>Developed by <a href="https://www.github.com/fatiyapici">Fatih Yapici</a></p>
</div>
